@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,100;1,200;1,500&display=swap");
html {
  font-size: 0.891vw;
}
body {
  overflow-x: hidden;
  background-color: #f9f9f9;
}
.App {
  background-size: auto;
  font-family: "Poppins", sans-serif;
}
.main-background {
  display: block;
}
.mobile-background,
.tab-background {
  display: none;
}
.hero {
  background-color: #dedede00;
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.navbar {
  padding: 1.25rem 0 0 0;

  width: 100%;
  height: 5rem;
  display: flex;
  color: rgb(70, 70, 70);
  z-index: 11111;
}
.nav-left {
  margin-left: 3.125rem;
  flex: 3;
  color: black;
  display: flex;
}
.logo {
  font-size: 1.375rem;
  font-weight: 500;
}
.dark-mode {
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-switch {
  --toggle-size: 12px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter)
  );
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container:hover {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter) -
      0.187em
  );
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-right {
  flex: 2;
  justify-content: center;
}

.nav-lists {
  margin: 0;
  justify-content: space-around;
  display: flex;
  list-style: none;
  height: 100%;
}
.nav-responsive {
  flex: 2;
  justify-content: center;
  align-items: center;
  z-index: 1111111;
}
.nav-lists {
  display: flex;
  align-items: center;
  /* width: 100%; */
}
.nav-lists li h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.nav-lists a {
  color: rgb(51, 40, 80);
}
.nav-link :hover {
  color: rgb(166, 140, 231);
  transition: color 0.2s ease-in-out; 
}
.intro {
  display: flex;
  margin: 1.5625rem;
  height: 100vh;
  margin-top: 4rem;
}
.intro-left {
  margin-top: 10%;
  margin-left: 2.5rem;
  flex: 4;
}
.intro-left h3 {
  font-size: 1.75rem;
  font-weight: 400;
}
.intro-left h2 {
  font-size: 2.1875rem;
  font-weight: 500;
  color: blueviolet;
}
.intro-left h4 {
  font-size: 1.625rem;
  font-weight: 400;
  color: rgb(70, 70, 70);
}
.intro-left p {
  font-size: 1.5625rem;
  font-weight: 300;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
}
.intro-left span {
  color: blueviolet;
}
.lets-talk {
  margin-top: 3.125rem;
  width: 30%;
  display: flex;
  justify-content: center;
}
/* Button Start */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 4rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 0.25rem transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 1rem;
  letter-spacing: 0.3125rem;
  color: #ffffff;
  text-shadow: 0 0 0.25rem white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 1.875rem;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 0.25rem #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 0.0625rem, transparent 0.0625rem);
  background-size: 3.125rem 3.125rem;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 0.0625rem, transparent 0.0625rem);
  background-size: 3.125rem 3.125rem;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Button End */
.socials {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro-right {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}
.canva-container {
  margin-top: 12rem;

  width: 50%;
  height: 80vh;
  position: absolute;
  top: 3rem;
  right: 0rem;
}
.intro-right img {
  /* margin-top: 1.5625rem; */
  /* margin-left: 16%; */
  margin-left: 10%;
  width: 44.22vw;
  /* visibility: hidden; */
  z-index: 10;
  position: absolute;
  /* top: 15rem; */
  bottom: 0;
}

.my-services {
  background-color: #dedede00;
  height: auto;
  padding-bottom: 20vh;
}
.page-title {
  display: flex;
  justify-content: center;
}
.page-desc {
  margin: 2% 25% 0 25%;
}
.page-desc p {
  text-align: center;
  font-size: 1.0625rem;
}
.s-card {
  background-color: #7300ff;
  position: relative;
  width: 22.5rem;
  height: 31.25rem;
  border-radius: 0.875rem;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1.25rem 1.25rem 3.75rem #bebebe, -1.25rem -1.25rem 3.75rem #ffffff;
}

.bg {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 21.875rem;
  height: 30.625rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(1.5rem);
  border-radius: 0.625rem;
  overflow: hidden;
  outline: 0.125rem solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 16.875rem;
  height: 26.875rem;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(0.75rem);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
.card-content {
  position: absolute;
  width: 22.5rem;
  height: 31.25rem;
  z-index: 11111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-content h2 {
  color: #ec634be1;
}
.card-content p {
  margin: 0;
  margin: 0 1.325rem 0 1.225rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.card-content img {
  width: 70%;
}
.service-card {
  margin-top: 10.625rem;
}
.service-body {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.my-projects {
  background-color: #dedede00;
  /* height: 100vh; */
}
.p-card {
  width: 53.125rem;
  height: 28.125rem;
  perspective: 62.5rem;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.p-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6a2c70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 0.625rem solid #6a2c70;
  border-radius: 0.625rem;
  justify-content: center;
  font-size: 1.5rem;
  transform: rotateY(0deg);
  /* background-image: url("./images/myWeb.png"); */
  background-size: cover;
}

.card-back {
  background-color: #f08a5d;
  color: #fff;
  display: flex;
  align-items: center;
  border: 0.625rem solid #f08a5d;
  border-radius: 0.625rem;
  justify-content: center;
  font-size: 1.5rem;
  transform: rotateY(180deg);
  /* background-image: url("./images/phone.png"); */
  background-size: cover;
}
.projects-body {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;

  width: 100%;
  display: grid;
  justify-content: space-evenly;
  grid-gap: 9.375rem;
  align-items: space-evenly;
}
.project {
  display: flex;
}
.project-title {
  margin-top: 6.25rem;
  padding-left: 5rem;
  flex: 2;
}
.project-title h2 {
  font-size: 1.875rem;
}
.project-display {
  flex: 3;
  display: flex;
  justify-content: center;
}
/* .projects-body > :nth-child(1) {
  position: relative;
  left: 440px;
} */
/* .projects-body > :nth-child(2) {
  position: relative;
  right: 440px;
}
.projects-body > :nth-child(3) {
  position: relative;
  left: 360px;
} */

.testimonial-card {
  width: 31.25rem;
  height: 21.875rem;
  border-radius: 1.25rem;
  background: #243757;
  /* box-shadow: 0.9375rem 0.9375rem 1.875rem #bebebe, -0.9375rem -0.9375rem 1.875rem #ffffff; */
}
.testimonial-card:hover {
  transform: scale(1.02);
  opacity: 1;
}

.testimonials-body {
  margin-top: 9.375rem;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
}
.testimonials {
  background-color: #dedede23;
  height: auto;
  padding-bottom: 10vh;
}
.testimonial-swiper {
  width: 80%;
}
.testimony-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-nav {
  margin: 1% 40% 0 40%;
  display: flex;
  justify-content: space-evenly;
}

.testimonial-nav button {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #243757;
  color: rgb(199, 199, 199);
  border-style: none;
  box-shadow: 10px 10px 58px -4px rgba(6, 14, 82, 0.58);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.profile-name {
  text-align: center;
  color: #ae3d29e1;
}
.testimony-img {
  width: 6.25rem;
  border-radius: 12.5rem;
  height: 6.25rem;
  background-size: contain;
  margin-top: 1.875rem;
}

.testimony-text {
  margin: 1.25rem;
  font-weight: 300;
  color: #fff;
}
.quotes {
  color: #ae3d29e1;
}
.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}

.inputGroup .form-input {
  font-size: 100%;
  padding: 1.3em;
  outline: none;
  border: 0.125rem solid rgb(235, 188, 249);
  background-color: transparent;
  border-radius: 1.25rem;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(.form-input:focus, .form-input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #c7a5d7;
}

.inputGroup :is(.form-input:focus, .form-input:valid) {
  border-color: rgb(150, 150, 200);
}

.message-box .form-input {
  height: 4rem;
  position: relative;
  /* width: inherit; */
}
.form-input,
.message-box .form-input {
  width: 100%; /* adjust this value as per your requirement */
  box-sizing: border-box;
}
textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}
.form {
  width: 20.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-title {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
  color: rgba(252, 252, 252, 0.897);
  position: relative;
  z-index: 10;
}
.contact-form {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  background-image: url("./images/contacts/c.jpeg");
  background-size: auto;
  width: 25rem;
  height: 31.25rem;
  box-shadow: 0.1875rem 1rem 2.375rem 0.625rem rgba(0, 0, 0, 0.17);
  border-radius: 0.8125rem;
}
.glass {
  position: absolute;
  border-radius: 0.8125rem;
  margin-top: 4rem;
  background-color: #8e51ea4f;
  width: 25rem;
  height: 31.25rem;
}
.contact-me {
  height: auto;
  /* background-color: rgba(181, 149, 251, 0.107); */
  background-color: #f3eefb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left {
  display: block;
  flex: 10;
}
.contact-right {
  display: flex;
  justify-content: center;
  flex: 8;
}
.contact-right img {
  margin-top: 5rem;
  padding-right: 5rem;
  width: 46.25rem;
}
.send-button {
  margin-top: 1.125rem;
  display: flex;
  justify-content: center;
}
.wrap-contact {
  display: flex;
  justify-content: center;
}
.contact-title {
  display: block;
}
.contact-title h2 {
  font-size: 1.875rem;
  text-align: center;
}
.contact-title span {
  font-size: 2.1875rem;
  text-align: center;
  color: #ec634be1;
}
.contact-title div {
  display: flex;
  justify-content: center;
}
.contact-title p {
  font-size: 1.0625rem;
  text-align: center;
  width: 60%;
}
.footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 46, 84, 0.909);
}
.footer div {
  height: 0.09375rem;
  width: 25rem;
  background-color: rgb(227, 217, 255);
  border-radius: 10px;
}
.footer p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #f0f0f0;
  margin: 1rem;
}

.ham-btn {
  background: transparent;
  border: none;
  font-size: 1.875rem;
  visibility: hidden;
}

/* Responsive for 1800 and down */

@media only screen and (max-width: 1500px) and (min-width: 900px) {
  html {
    font-size: 1vw;
  }
  * {
    box-sizing: border-box;
  }

  .hero {
    height: auto;
  }
  .theme-switch {
    --toggle-size: 0.75rem;
  }

  .nav-left {
    /* margin-left: 0.625rem; */
    color: black;
  }
  .logo {
    /* font-size: 1.125rem; */
    font-weight: 500;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .dark-mode {
    /* margin-left: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-lists {
    display: flex;
    align-items: center;
  }

  /* .nav-lists li h4 {
    font-size: 0.9375rem;
  } */

  .intro {
    margin: 0;
    padding: 0.625rem;
    padding-top: 5rem;
    height: 100%;
  }

  .intro-left {
    /* height: 100%; */
    /* width: 160%; */
    margin: 0.125rem;
    margin-left: 0;
    padding-top: 12.125rem;
    /* flex: 4; */
  }
  .intro-left h3 {
    font-size: 1.8rem;
  }
  .intro-left h2 {
    font-size: 2rem;
  }
  .intro-left h4 {
    font-size: 1.6rem;
  }
  .intro-left p {
    font-size: 1.3rem;
    font-family: sans-serif;
    /* position: absolute; */
  }

  .lets-talk {
    margin-top: 3.125rem;
    /* width: 7.5rem; */
    display: flex;
    justify-content: center;
  }
  /* Button Start */
  /* .btn {
    width: 22.5rem;
    height: 3.5rem;
  } */

  /* strong {
    font-size: 0.76125rem;
    letter-spacing: 0.1875rem;
  } */

  /* Button End */
  /* .socials { */
  /* position: absolute; */
  /* top: 0.3125rem; */
  /* flex-direction: column; */
  /* right: 0.2rem; */
  /* width: 50%; */
  /* height: 30vh; */
  /* } */

  .intro-right {
    /* flex: 5; */
    height: 100%;
  }
  .intro-right img {
    margin-left: 5rem;
    width: 40vw;
    position: relative;
    /* /* right: 0;  */
    top: 8rem;
    /* bottom: 0; */
  }
  .canva-container {
    margin-top: 12rem;

    width: 50%;
    height: 45vw;
    position: absolute;
    top: 3rem;
    right: 0rem;
  }
  .socials {
    width: 85%;
  }
  .my-services {
    padding: 0.625rem;
    padding-top: 5vh;
    height: auto;
  }
  .page-title {
    font-size: 1rem;
  }
  .page-desc {
    margin: 2% 20% 0 20%;
  }
  .page-desc p {
    text-align: center;
    font-size: 1.0625rem;
  }
  .s-card {
    width: 18.5rem;
    height: 28.625rem;
    /* border-radius: 0.75rem; */
  }

  .bg {
    top: 0.125rem;
    left: 0.125rem;
    width: 18.5rem;
    height: 28.625rem;
  }

  .card-content {
    width: 18.5rem;
    height: 28.625rem;
  }
  .card-content h2 {
    color: #ec634be1;
    font-size: 1.2rem;
  }
  .card-content p {
    font-size: 0.9rem;
  }
  .card-content img {
    width: 75%;
  }
  .service-card {
    margin: 1rem;
  }
  .service-body {
    margin-top: 7rem;
  }

  .my-projects {
    margin-top: 5rem;
  }
  .p-card {
    width: 48vw;
    height: 25vw;
    perspective: 62.5rem;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }

  .p-card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    background-color: #6a2c70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0.625rem solid #6a2c70;
    border-radius: 0.625rem;
    justify-content: center;
    font-size: 1.5rem;
    transform: rotateY(0deg);
    /* background-image: url("./images/myWeb.png"); */
    background-size: cover;
  }

  .card-back {
    background-color: #f08a5d;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0.625rem solid #f08a5d;
    border-radius: 0.625rem;
    justify-content: center;
    font-size: 1.5rem;
    transform: rotateY(180deg);
    /* background-image: url("./images/phone.png"); */
    background-size: cover;
  }
  .projects-body {
    margin-top: 6.375rem;
    margin-bottom: 9.375rem;
    padding: 3vw;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-gap: 9.375rem;
    align-items: space-evenly;
  }
  .project {
    display: flex;
    flex-direction: row;
  }
  .project-title {
    margin-top: 6.25rem;
    padding-left: 1rem;
    flex: 2;
  }
  .project-title h2 {
    font-size: 1.3rem;
  }
  .project-title p {
    font-size: 1rem;
  }
  .project-display {
    flex: 3;
    display: flex;
    justify-content: center;
  }
  /* .projects-body > :nth-child(1) {
    position: relative;
    left: 440px;
  } */
  /* .projects-body > :nth-child(2) {
    position: relative;
    right: 440px;
  }
  .projects-body > :nth-child(3) {
    position: relative;
    left: 360px;
  } */

  .testimonial-card {
    width: 28.25rem;
    height: 18.875rem;
    border-radius: 1rem;
    background: #243757;
    /* box-shadow: 0.9375rem 0.9375rem 1.875rem #bebebe, -0.9375rem -0.9375rem 1.875rem #ffffff; */
  }

  .testimonials-body {
    margin-top: 5.375rem;
    width: 95vw;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .testimonials {
    background-color: #dedede23;
    height: auto;
  }
  .testimonial-swiper {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile-name {
    text-align: center;
    color: #ae3d29e1;
  }
  .testimony-img {
    width: 5.25rem;
    border-radius: 12.5rem;
    height: 5.25rem;
  }

  .testimony-text {
    margin: 0 2rem 0 2rem;
    font-size: 0.8rem;
  }

  .inputGroup {
    font-family: "Segoe UI", sans-serif;
    margin: 1em 0 1em 0;
    width: 100%;
    position: relative;
  }

  .inputGroup .form-input {
    font-size: 100%;
    padding: 1.3em;
    outline: none;
    border: 0.125rem solid rgb(235, 188, 249);
    background-color: transparent;
    border-radius: 1.25rem;
    width: 100%;
  }

  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }

  .inputGroup :is(.form-input:focus, .form-input:valid) ~ label {
    transform: translateY(-50%) scale(0.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #c7a5d7;
  }

  .inputGroup :is(.form-input:focus, .form-input:valid) {
    border-color: rgb(150, 150, 200);
  }
  .message-box .form-input {
    height: 6rem;
    width: 100%;
  }
  .form {
    width: 20.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-title {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
    color: rgba(252, 252, 252, 0.897);
    position: relative;
    z-index: 10;
  }

  .contact-me {
    height: auto;
    /* background-color: rgba(181, 149, 251, 0.107); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
  }

  /* .contact-right {
    margin: 0;
    visibility: collapse;
  } */
  .contact-right img {
    width: 55vw;
  }
  /* .contact-left {
    position: absolute;
   
  } */
  .send-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  /* .contact-title {
    display: block;
  }
  .contact-title h2 {
    font-size: 1.5rem;
  }
  .contact-title span {
    font-size: 2rem;
    text-align: center;
    color: #ec634be1;
  } */

  .contact-title p {
    font-size: 0.925rem;
    text-align: center;
    width: 80%;
  }
  .footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 46, 84, 0.909);
  }
  .footer div {
    height: 0.09375rem;
    width: 4.5rem;
    background-color: rgb(227, 217, 255);
    border-radius: 10px;
  }
  .footer p {
    font-size: 0.5rem;

    color: #f0f0f0;
    margin: 0.3rem;
  }
}
/* Responsive for 800  */
@media only screen and (max-width: 900px) and (min-width: 700px) {
  html {
    font-size: 2vw;
  }
  * {
    box-sizing: border-box;
  }
  .App {
    overflow: hidden;
    /* overflow-x: hidden; */
  }
  .hero {
    padding: 0.625rem;
    height: auto;
  }
  .tab-background {
    display: block;
  }
  .main-background {
    display: none;
  }

  .ham-btn {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    visibility: visible;
    z-index: 11111;
  }
  .nav-responsive {
    transform: translateX(100vw);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 95vw;
    position: absolute;
    left: -98vw;
    top: 2vh;
    z-index: 11111;
    backdrop-filter: blur(2px);
    box-shadow: 0px 11px 132px -19px rgba(0, 0, 0, 0.75);
    background-color: rgba(246, 232, 255, 0.868);
    border-radius: 0.7rem;
    transition: all 1.5s ease;
  }
  .nav-left {
    margin-left: 0.625rem;
    color: black;
  }
  .logo {
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .theme-switch {
    --toggle-size: 10px;
  }
  .nav-right {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 95vw;
    position: absolute;
    left: -98vw;
    top: 2vh;
    z-index: 11111;
    backdrop-filter: blur(2px);
    box-shadow: 0px 11px 132px -19px rgba(0, 0, 0, 0.75);
    background-color: rgba(246, 232, 255, 0.868);
    border-radius: 0.7rem;
    transition: all 1.5s ease;
  }

  .nav-lists {
    display: block;
  }
  .nav-lists li h4 {
    font-size: 0.9375rem;
  }
  .intro {
    margin: 0.625rem;
    margin-top: 5rem;
    height: auto;
  }

  .intro-left {
    width: 160%;
    margin: 0.125rem;
    margin-left: 0;
    margin-top: 8.125rem;
    flex: 3;
  }
  .intro-left h3 {
    font-size: 1.125rem;
  }
  .intro-left h2 {
    font-size: 1.25rem;
  }
  .intro-left h4 {
    font-size: 1rem;
  }
  .intro-left p {
    font-size: 0.9375rem;
    font-family: sans-serif;
  }

  .lets-talk {
    margin-top: 3.125rem;
    width: 7.5rem;
    display: flex;
    justify-content: center;
  }
  /* Button Start */
  .btn {
    width: 7.5rem;
    height: 2.875rem;
  }

  strong {
    font-size: 0.76125rem;
    letter-spacing: 0.1875rem;
  }

  /* Button End */
  .socials {
    position: absolute;
    top: 12rem;
    flex-direction: column;
    align-items: end;
    right: 0.2rem;
    width: 20%;
    height: 30vh;
    z-index: 22222;
  }

  .socials h4 {
    visibility: hidden;
  }

  .intro-right {
    flex: 2;
    display: flex;
    justify-content: end;
    align-items: end;
    height: auto;
  }
  .intro-right img {
    margin-left: 0;
    width: 20.25rem;
    position: relative;
  }
  .canva-container {
    margin-top: 10rem;

    width: 40%;
    height: 28vh;
    position: absolute;
    top: 3rem;
    right: 0rem;
  }
  .my-services {
    padding: 0.625rem;
    margin-top: 4rem;
    height: auto;
  }
  .page-title {
    font-size: 0.75rem;
  }
  .page-desc {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .page-desc p {
    width: 80%;
    font-size: 0.8rem;
  }
  .s-card {
    width: 14.5rem;
    height: 22.625rem;
    border-radius: 0.75rem;
  }

  .bg {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 14.25rem;
    height: 22.375rem;
  }

  .card-content {
    position: absolute;
    width: 14.5rem;
    height: 22.75rem;
  }
  .card-content h2 {
    color: #ec634be1;
    font-size: 0.875rem;
  }
  .card-content p {
    font-size: 0.75rem;
    font-weight: 300;
  }
  .card-content img {
    width: 70%;
  }
  .service-card {
    margin: 1rem;
  }
  .service-body {
    margin-top: 5.625rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .my-projects {
    margin-top: 5rem;
    height: auto;
  }
  .p-card {
    width: 28.125rem;
    height: 16.125rem;
    perspective: 62.5rem;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }

  .p-card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    background-color: #6a2c70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0.625rem solid #6a2c70;
    border-radius: 0.625rem;
    justify-content: center;
    font-size: 1.5rem;
    transform: rotateY(0deg);
    /* background-image: url("./images/myWeb.png"); */
    background-size: cover;
  }

  .card-back {
    background-color: #f08a5d;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0.625rem solid #f08a5d;
    border-radius: 0.625rem;
    justify-content: center;
    font-size: 1.5rem;
    transform: rotateY(180deg);
    /* background-image: url("./images/phone.png"); */
    background-size: cover;
  }
  .projects-body {
    margin-top: 3rem;
    margin-bottom: 9.375rem;

    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-gap: 5.375rem;
    align-items: space-evenly;
  }
  .project {
    display: flex;
    flex-direction: row;
  }
  .project-title {
    margin-top: 6.25rem;
    padding-left: 2rem;
    flex: 2;
  }
  .project-title h2 {
    font-size: 1rem;
  }
  .project-title p {
    font-size: 0.8rem;
  }
  .project-display {
    flex: 3;
    display: flex;
    justify-content: center;
  }

  .testimonial-card {
    width: 28.25rem;
    height: 18.875rem;
  }

  .testimonials-body {
    margin-top: 5.375rem;
    width: 95vw;
  }
  .testimonials {
    background-color: #dedede23;
    height: auto;
  }
  .testimonial-swiper {
    width: 100%;
  }

  .testimony-img {
    width: 5.25rem;
    border-radius: 12.5rem;
    height: 5.25rem;
  }

  .testimony-text {
    margin: 0 2rem 0 2rem;
    font-size: 0.8rem;
  }

  .inputGroup .form-input {
    width: 100%;
  }

  .contact-me {
    margin-top: 0rem;
    height: 90vh;
    background-color: rgba(181, 149, 251, 0.107);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    padding-bottom: 10vh;
  }

  .contact-right {
    height: 0;
    margin: 0;
    visibility: collapse;
  }
  .contact-right img {
    width: 0rem;
    visibility: collapse;
    /* height: max-content; */
  }
  .contact-left {
    position: absolute;
    /* padding-left: 20vw; */
    /* width: 100vw; */
  }
  .send-button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  /* .contact-title {
    display: block;
  }
  .contact-title h2 {
    font-size: 1.5rem;
  }
  .contact-title span {
    font-size: 2rem;
    text-align: center;
    color: #ec634be1;
  } */

  .contact-title p {
    font-size: 0.825rem;
    text-align: center;
    width: 60%;
  }
  .footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 46, 84, 0.909);
  }
  .footer div {
    height: 0.09375rem;
    width: 4.5rem;
    background-color: rgb(227, 217, 255);
    border-radius: 10px;
  }
  .footer p {
    font-size: 0.5rem;

    color: #f0f0f0;
    margin: 0.3rem;
  }
}

/* Responsive for 900 and down */

@media only screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
  * {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .App {
    overflow: hidden;
    overflow-x: hidden;
  }
  .mobile-background {
    display: block;
  }
  .main-background {
    display: none;
  }
  .hero {
    height: 85vh;
    padding: 0.625rem;
  }
  .navbar {
    height: 5rem;
    margin: 0;
    padding: 0;
  }
  .theme-switch {
    --toggle-size: 10px;
  }
  .dark-mode {
    margin-left: 2rem;
  }
  .ham-btn {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    visibility: visible;
    z-index: 22222;
  }
  .nav-responsive {
    transform: translateX(100vw);
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 10vh; */
    border-radius: 0.7rem;

    transition: all 1.5s ease;
    height: auto;
    width: 95vw;
    position: absolute;
    left: -98vw;
    top: 2vh;
    z-index: 11111;
    backdrop-filter: blur(2px);
    box-shadow: 0px 11px 132px -19px rgba(0, 0, 0, 0.75);
    background-color: rgba(246, 232, 255, 0.868);
  }
  .nav-left {
    margin-left: 0.625rem;
    color: black;
  }
  .logo {
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-right {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 95vw;
    position: absolute;
    left: -98vw;
    top: 2vh;
    z-index: 11111;
    backdrop-filter: blur(2px);
    box-shadow: 0px 11px 132px -19px rgba(0, 0, 0, 0.75);
    background-color: rgba(246, 232, 255, 0.868);
    border-radius: 0.7rem;
    transition: all 1.5s ease;
  }

  .nav-lists {
    display: block;
  }
  .nav-lists li h4 {
    font-size: 0.9375rem;
  }
  .intro {
    margin: 0.3rem;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80vh;
  }

  .intro-left {
    width: 100%;
    margin: 0.125rem;
    margin-left: 0;
    margin-top: 0.125rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .intro-left h3 {
    font-size: 1.3rem;
    margin: 0;
  }
  .intro-left h2 {
    margin-top: 0.8rem;
    font-size: 1.5rem;
  }
  .intro-left h4 {
    font-size: 1.2rem;
    position: relative;
    /* top: 37.25vh; */
    top: 20rem;
  }
  .intro-left p {
    font-size: 1rem;
    font-family: sans-serif;
    position: relative;
    top: 18.5rem;
  }

  .lets-talk {
    width: 100%;
    /* width: 7.5rem; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 17rem;
  }
  /* Button Start */
  .btn {
    width: 7.5rem;
    height: 2.875rem;
  }

  strong {
    font-size: 0.76125rem;
    letter-spacing: 0.1875rem;
  }

  /* Button End */
  .socials {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10.6125rem;
    flex-direction: column;
    right: 0rem;
    /* width: 4rem; */
    height: 30vh;
    align-items: end;
    z-index: 222;
  }
  .socials a {
    font-size: larger;
  }

  .socials h4 {
    visibility: collapse;
  }

  .intro-right {
    flex: 2;
    position: relative;
    bottom: 30vh;
  }
  .intro-right img {
    /* margin-top: 23.125vh; */
    margin-left: 0;
    width: 21rem;
    position: relative;
  }
  .canva-container {
    margin-top: 0rem;

    width: 100%;
    height: 35vh;
    position: absolute;
    top: -3rem;
    right: 0rem;
  }
  .my-services {
    padding: 0.625rem;
    margin-top: 5rem;
    height: auto;
  }
  .page-title {
    font-size: 0.75rem;
  }
  .page-desc {
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
  }
  .page-desc p {
    font-size: 0.825rem;
    text-align: center;
    width: 85%;
  }
  .s-card {
    width: 15.58rem;
    height: 26.625rem;
    border-radius: 0.8rem;
  }

  .bg {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 15.2rem;
    height: 26.25rem;
  }

  .card-content {
    position: absolute;
    width: 15.5rem;
    height: 26.75rem;
  }
  .card-content h2 {
    color: #ec634be1;
    font-size: 1rem;
  }
  .card-content p {
    font-size: 0.85rem;
    font-weight: 300;
  }
  .card-content img {
    width: 70%;
  }
  .service-card {
    margin: 1rem;
  }
  .service-body {
    margin-top: 3.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .my-projects {
    margin-top: 5rem;
    height: auto;
  }
  .p-card {
    width: 26.125rem;
    height: 14.125rem;
    perspective: 62.5rem;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }

  .p-card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    background-color: #6a2c70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0.625rem solid #6a2c70;
    border-radius: 0.625rem;
    justify-content: center;
    font-size: 1.5rem;
    transform: rotateY(0deg);
    background-size: cover;
  }

  .card-back {
    background-color: #f08a5d;
    color: #fff;
    display: flex;
    align-items: center;
    border: 0.625rem solid #f08a5d;
    border-radius: 0.625rem;
    justify-content: center;
    font-size: 1.5rem;
    transform: rotateY(180deg);
    /* background-image: url("./images/phone.png"); */
    background-size: cover;
  }
  .projects-body {
    margin-top: 0.375rem;
    margin-bottom: 5.375rem;

    padding: 0 2rem 0 2rem;
    width: 100vw;
    display: grid;
    justify-content: space-evenly;
    grid-gap: 0rem;
    align-items: space-evenly;
  }
  .project {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .project-title {
    margin-top: 6.25rem;
    padding: 0 1rem 0 1rem;
    flex: 2;
  }
  .project-title h2 {
    font-size: 1rem;
  }
  .project-title p {
    font-size: 0.8rem;
    /* width: 90%; */
  }
  .project-display {
    flex: 3;
    display: flex;
    justify-content: center;
  }
  .projects-body > :nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  /* .projects-body > :nth-child(1) {
    position: relative;
    left: 440px;
  } */
  /* .projects-body > :nth-child(2) {
    position: relative;
    right: 440px;
  }
  .projects-body > :nth-child(3) {
    position: relative;
    left: 360px;
  } */

  .testimonial-card {
    width: 18.25rem;
    height: 13.875rem;
    border-radius: 1rem;
    background: #243757;
    /* box-shadow: 0.9375rem 0.9375rem 1.875rem #bebebe, -0.9375rem -0.9375rem 1.875rem #ffffff; */
  }
  .testimonial-card:hover {
    transform: scale(1.02);
    opacity: 1;
  }

  .testimonials-body {
    margin-top: 5.375rem;
    width: 100vw;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .testimonials {
    background-color: #dedede23;
    height: auto;
  }
  .testimonial-swiper {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile-name {
    text-align: center;
    color: #ae3d29e1;
    font-size: 0.6rem;
  }
  .testimony-img {
    width: 3.25rem;
    border-radius: 12.5rem;
    height: 3.25rem;
    background-size: contain;
    margin-top: 1rem;
  }

  .testimony-text {
    margin: 0.7rem;
    font-weight: 300;
    color: #fff;
    font-size: 0.7rem;
  }
  .testimonial-nav {
    margin: 1rem 0 0 0;
    padding: 0;
    width: 100%;
  }
  .quotes {
    color: #ae3d29e1;
  }
  .inputGroup {
    font-family: "Segoe UI", sans-serif;
    margin: 1em 0 1em 0;
    width: 100%;
    /* max-width: 18.75rem; */
    position: relative;
  }

  .inputGroup .form-input {
    font-size: 100%;
    padding: 1.3em;
    outline: none;
    border: 0.125rem solid rgb(235, 188, 249);
    background-color: transparent;
    border-radius: 1.25rem;
    width: 100%;
  }

  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }

  .inputGroup :is(.form-input:focus, .form-input:valid) ~ label {
    transform: translateY(-50%) scale(0.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #c7a5d7;
  }

  .inputGroup :is(.form-input:focus, .form-input:valid) {
    border-color: rgb(150, 150, 200);
  }
  .message-box .form-input {
    height: 6.75rem;
    width: 100%;
  }
  .form {
    width: 20.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-title {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: rgba(252, 252, 252, 0.897);
    position: relative;
    z-index: 10;
    font-size: 0.8rem;
  }
  .contact-form {
    width: 70%;
    /* height: 100%; */
  }
  .glass {
    width: 70%;
    height: 31.25rem;
  }
  .contact-me {
    height: auto;
    background-color: rgba(181, 149, 251, 0.107);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  .contact-right {
    visibility: collapse;
    height: 0;
  }
  .contact-right img {
    visibility: collapse;
    height: 0;
  }
  .send-button {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
  }

  .contact-title {
    display: block;
  }
  .contact-title h2 {
    font-size: 1.5rem;
  }
  .contact-title span {
    font-size: 2rem;
    text-align: center;
    color: #ec634be1;
  }

  .contact-title p {
    font-size: 0.825rem;
    text-align: center;
    width: 85%;
  }
  .footer {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 46, 84, 0.909);
  }
  .footer div {
    height: 0.09375rem;
    width: 4.5rem;
    background-color: rgb(227, 217, 255);
    border-radius: 10px;
  }
  .footer p {
    font-size: 0.5rem;

    color: #f0f0f0;
    margin: 0.3rem;
  }
}
